target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdelivered/
/nbsupport/
/build-references/
/**/*.nbi
/**/*.nbm
/**/*.nbm-release-history

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
bin/

### Mac OS ###
.DS_Store

### Logs ###
*.log
